<header class="p-3 text-bg-dark fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="../../../assets/header/logoFortiguard-Recuperado.png" alt="Bootstrap" width="50" height="40">
                <span class="fs-4 text-white">FortiGuard</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="home" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="services" class="nav-link px-2 text-white">Services</a></li>
                <li><a href="about" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <div class="text-end">
                <a href="login">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                </a>
                <a href="register">
                    <button type="button" class="btn btn-outline-dark" id="btn-singUp">Sign-up</button>
                </a>  
            </div>
        </div>
    </div>
</header>