<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3"> FortiGuard</h1>
      <p class="col-lg-10 fs-4">¡Regístrate ahora y experimenta la mejor seguridad con FortiGuard! Nuestro formulario de registro está diseñado para tu comodidad. No te preocupes, cada campo requerido tiene validación para garantizar que tengas una experiencia segura y completa.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" (submit)="sendData()">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="correo@ejemplo.com" [(ngModel)]="email" name="email" required>
          <label for="floatingInput">Correo electrónico</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
          <label for="floatingPassword">Contraseña</label>
        </div>

        <!-- Ejemplo de una casilla de verificación -->
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="exampleCheck1"  name="termsAgreed" required>
          <label class="form-check-label" for="exampleCheck1">Acepto los términos y condiciones de FortiGuard</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
        <hr class="my-4">
        <small class="text-body-secondary">Al hacer clic en Registrarse, aceptas los términos de uso de FortiGuard.</small>
      </form>
    </div>
  </div>
</div>