<app-header></app-header>


<div class="container" id="continer-register">
    <main>
        <div class="py-5 text-center">
            <img src="../../../assets/headerUser/logoFortiguard-Recuperado.png" alt="Bootstrap" width="150"
                height="120">
            <h2>FortiGuard - App</h2>
            <p class="lead">Regístrate ahora para obtener seguridad total. Localiza y protege tus dispositivos al
                instante. Tu tranquilidad comienza con un solo paso. ¡Únete hoy!</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <img src="../../../assets/home/logoFortiguard-Recuperado.png" alt="" width="400px">
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Información de cuenta</h4>
                <form class="needs-validation" novalidate (submit)="registerAccount()">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="nameAccount" class="form-label" >Nombre de usuario</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">#</span>
                                <input type="text" class="form-control" id="nameAccount" [(ngModel)]="nameAccount" name="nameAccount" placeholder="Nombre de usuario"
                                    required>
                                <div class="invalid-feedback">
                                    Se requiere su nombre de usuario correcto.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="email" class="form-label">Dirección de correo electrónico:</label>
                            <input type="email" class="form-control" id="email" placeholder="Correo electrónico"
                                value=""  [(ngModel)]="email" name="email" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese una dirección de correo electrónico válida para las actualizaciones
                                de envío.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Contraseña...">
                            <div class="invalid-feedback">
                                Por fabor, ingresa una constraseña valida
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <!-- Div de alerta de error -->
                    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorMessage">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ errorMessage }}
                    </div>

                    <!-- ... (código omitido para mayor brevedad) ... -->
                    <button class="w-25 btn btn-primary btn-lg" type="submit">Registrar</button>
                </form>
            </div>
        </div>


        <app-footer></app-footer>